body{
	text-align:center;
	margin:0 auto;
	background-color:#EEE9D6;  //soft bone white
}

#container{
	width: 50%;
	text-align: left;
	margin: 0 auto;
	color: #576E74;
}
textarea{
	width: 100%;
	padding: 10px 30px;
	margin: auto;
}

#errorConsole{
	padding: 0.25% 2.5%;
	color:grey;
	background-color:#002A38;  //dark blueish
}

.error{
	color:#DD312F;  //red
}

//Other Colors
// orange : #ca4711
// yellow: #b58a00
// magenta:#d63581
// violet: #6b71c7
// blue  : #258bd3
// cyan  : #2ba098
// green : #859A01
