body{
	text-align:center;
	margin:0 auto;
	background-color:#EEE9D6;  //soft bone white
}

h2{
	margin: 10% auto 2%;
}

#container{
	width: 90%;
	text-align: left;
	margin: 0 auto;
	color: #576E74;
}

.mini{
	font-size:small;
	font-family:Arial, Sans-Serif;
	margin: 0 0 9%;
}
textarea{
	width: 100%;
	padding: 10px 30px;
	margin: auto;
}

#errorConsole{
	padding: 0.25% 2.5%;
	color:#93a1a1;  //kinda light grey-blueish
	background-color:#002A38;  //dark blueish
}

.error{
	color:#DD312F;  //red
}

//Other Colors
// orange : #ca4711
// yellow: #b58a00
// magenta:#d63581
// violet: #6b71c7
// blue  : #258bd3
// cyan  : #2ba098
// green : #859A01
