

body{
	text-align:center;
	margin:0 auto;
	background-color:#EEE9D6;  //soft bone white
}

button{
	color: white;
	background-color: black;
	font: 13px Helvetica, arial, freesans, clean, sans-serif;
}

textarea{
	width: 100%;
	height: 95%;
	padding: 10px 100px;
	color: #073642;
	background-color: #eee9d6;
	outline:none;
	border: 0;
	font: 14px Helvetica, arial, freesans, clean, sans-serif;

}

#zenbar{
	color:#657b83;
	text-decoration: none;
}

#zenbar a{
	color:#073642;
	text-decoration: none;
}

.mini{
	font-size:small;
	font-family:Arial, Sans-Serif;
	margin: 0 0 9%;
}
